<% provide(:title, 'About Us') %>

<div class="text-center" style="width:600px;margin:auto;display:block">
<h1 style="margin-top:50px">About</h1>
	<h4 class="text-center">
		Tal Flanchraych, Founder/CEO	</h4>
		<img class="text-center" style="width:189px;display:block;margin:20px auto" src="/assets/talheadshot.png">
<p class="text-center">Tal created Shotbox because she was horrified by the outdated technology, lack of quality, and terrible design on other modeling sites.</p><p>She has over 8 years of startup experience and previously co-founded Flywheel (formerly Cabulous), one of the most popular taxi apps in the country. In addition, she led the team that built all of Bon Jovi's online properties and managed websites for other major artists such as The Killers and Linkin Park.</p><p>At 5'3, Tal will never see the top of a runway -- but she can absolutely see up your nose. </p>
</div>