<h1>Current Userrs</h1>

  <%= will_paginate @users %>

  <ul class="users span12">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </ul>
  <%= will_paginate @users, class: 'pagination span8' %>




<!-- Old Code, Can Delete
<% if signed_in? %>

  <div class="center hero-unit">
    <h1>Welcome to Modelvine</h1>
    <p>
      This is the home page for Modelvine
    </p>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>
-->