<!-- Change the contents of the home page depending if people are logged in -->

<!-- See helpers/sessions to sign_in? method -->
<% if signed_in? %>
  <h3>Your Personalized Feed Will Appear Here</h3> 

<% else %>

  <div class="center hero-unit">
  	<h1>Welcome to Modelvine</h1>
  	<p>
  		This is the home page for Modelvine
  	</p>
  	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>