
<div class="marketingcopy">
  <h1 class="text-center darktext" style="letter-spacing:-1.5px">The modeling portfolio, reinvented.</h1>

  <h2 class="text-center" style="
      font-weight: normal;
      font-size: 1.5em;color:#4c4246;letter-spacing:-0px
  ">
  Professional models use Modelvine to stand out from the rest.<br/>Free, easy to use, and currently invite only.</h2>

<div class="redeem">
  <a class="buttonLink green large redeem-inner text-center" style="display:block" href="/users/sign_up">Redeem Invite</a>
<a class="signin text-center" style="display:block" href="https://modelvine.wufoo.com/forms/z1b7axkc1o40xbr/">Request an invite</a>
</div>
</div>



  <!-- <a class="buttonLink green" href="/users/sign_up">Sign Up</a>  -->

<img src="/assets/katemarisol2.png" class="text-center katemarisol">

<!-- Old Code, Can Delete
<% if signed_in? %>

  <div class="center hero-unit">
    <h1>Welcome to Modelvine</h1>
    <p>
      This is the home page for Modelvine
    </p>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>
-->