<!-- Change the contents of the home page depending if people are logged in -->

<!-- See helpers/sessions to sign_in? method -->
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <!-- Render partials -->
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <!-- This partial does not yet exist -->
        <%= render 'shared/user_photo_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Caption Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>

<% else %>

  <div class="center hero-unit">
  	<h1>Welcome to Modelvine</h1>
  	<p>
  		This is the home page for Modelvine
  	</p>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>