<div class="center hero-unit">
	<h1>Welcome to Model Vine</h1>
	<p>
		This is the home page for Model Vine
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>