<% provide(:title, 'Jobs') %>

<h1 style="margin-top:50px">Jobs</h1>
<p>
	We're always looking to speak to ambitious, driven people who are interested in the company. Email us at info@heyshotbox.com and tell us a little bit about yourself.
</p>



