Generated Invite Codes:
<table>
	<tbody>
		<tr>
			<th> Invite </th>
			<th> Used </th>
		</tr>
		<% @access_codes.each do |ac| %>
			<tr>
				<th> <%= ac.code %> </th>
				<th> <%= ac.used %> </th>
			</tr>
		<% end %>
	</tbody>
</table>