Invite Codes Available:
<table>
	<tbody>
		<tr>
			<th> Invite Code </th>
			<th> Used </th>
			<th> Used By </th>
		</tr>
		<% @access_codes.each do |ac| %>
			<tr>
				<th> <%= ac.code %> </th>
				<th> <%= ac.used %> </th>
				<th> 
					<% if ac.used_by_user_name %>
						<%= link_to ac.used_by_user_name, user_path(ac.used_by) %> 
					<% end %>
				</th>
			</tr>
		<% end %>
	</tbody>
</table>


<!-- Don't let users create their own access codes -->
<%#= form_tag generate_invites_users_path do %>
	<%#= label_tag :number_of_invites %>
	<%#= text_field :number_of_invites, :number_of_invites %>
	<%#= submit_tag "Generate Invites", :name => nil %>
<%# end %>