<h1>Manage Your Photo's</h1>

  <div class="row">
    <aside class="span4">
      <section>
        <!-- Render partials -->
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <!-- This partial does not yet exist -->
        <%= render 'shared/user_photo_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Caption Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
