<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1> 
<h1><%= @user.email %></h1>

<div>
  <h3>Photo's (<%= @user.user_photos.count %>)</h3>
  <div>
    <%= render @user_photos %>  
  </div>
</div>
