<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1> 
<h1><%= @user.email %></h1>

<div>
  <h3>Photo's (<%= @user.user_photos.count %>)</h3>
  <div>
    <!-- This will only show to defualt picture -->
    <%= render @user_photos.where(:default_photo => true) %>  
  </div>
</div>
