<% if @user_photo_feed_items.any? %>
  <ol class="userphotos">
    <%= render partial: 'shared/user_photo_feed_item', collection: @user_photo_feed_items %>
  </ol>
  <%= will_paginate @user_photo_feed_items %>
  <span class="notice"> </span>
<% end %>
