<%= form_for(@user_photo, :html => { :multipart => true }) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<!-- Add the Paperclip, photo uploading portion here -->
  	<%= f.file_field :photo %>
    <%= f.text_area :caption, placeholder: "Add a caption to the photo" %>

    <label class="checkbox">
      <%= check_box_tag :default_photo %>
      <%= label_tag :default_photo, "Would you like this to be your primary photo?" %>
    </label>

  </div>
  <%= f.submit "Updload", class: "btn btn-large btn-primary" %>
<% end %>
